.header
  .header__contents
    .header__contents__content
      .header__contents__content__logo
        =link_to "#" do
          = image_tag "logo.png", alt: "ロゴ"
      .header__contents__content__search-box
        %form
          %input.header__contents__content__search-box__input{:name => "", :prlaceholder => "キーワ-ドから探す",:type => "", :value => ""}
          %button{type: "submit"}
            .header__contents__content__search-box__icon
              =link_to "#" do
                = image_tag "icon-search 1.png", alt: "ロゴ"
    .header__contents__nav-list
      
      %ul.header__contents__nav-list__left-list
      
        %li.header__contents__nav-list__left-list__category
          =link_to "#" do
            カテゴリー
        %li.header__contents__nav-list__left-list__brand
          =link_to "#" do
            ブランド
      %ul.header__contents__nav-list__right-list
        %li.header__contents__nav-list__right-list__topic
          =link_to "#" do
            お知らせ
        %li.header__contents__nav-list__right-list__necessary
          =link_to "#" do
            やることリスト
        %li.header__contents__nav-list__right-list__mypage
          =link_to "#" do
            マイページ

        


.bread-crumbs
  %ul.bread-crumbs__nav
    %li.bread-crumbs__nav__li
      =link_to "#" do
        メルカリ
    


.main-contents
  .main-contents__box


    .main-contents__box__side-container
      .main-contents__box__side-container__mypage-nav
        %ul.main-contents__box__side-container__mypage-nav__mypage
          %li
            =link_to "#" do
              マイページ
          %li
            =link_to "#" do
              やることリスト
          %li
            =link_to "#" do
              いいね一覧
          %li
            =link_to "#" do
              出品する
          %li
            =link_to "#" do
              下書き一覧
          %li
            =link_to "#" do
              出品した商品ー出品中
          %li
            =link_to "#" do
              出品した商品ー取引中
          %li
            =link_to "#" do
              出品した商品ー売却済み
          %li
            =link_to "#" do
              購入した商品ー取引中
          %li
            =link_to "#" do
              購入した商品ー過去の取引
          %li
            =link_to "#" do
              ニュース一覧
          %li
            =link_to "#" do
              評価一覧
          %li
            =link_to "#" do
              ガイド
          %li
            =link_to "#" do
              お問い合わせ

        %h3.main-contents__box__side-container__mypage-nav__merpay
          メルペイ
        %ul.main-contents__box__side-container__mypage-nav__merpayz
          %li
            =link_to "#" do
              残高・振込申請
          %li
            =link_to "#" do
              ポイント

        %h3.main-contents__box__side-container__mypage-nav__config
          設定
        %ul.main-contents__box__side-container__mypage-nav__config
          %li
            =link_to "#" do
              プロフィール
          %li
            =link_to "#" do
              発送元・お届け先住所
          %li
            =link_to "#" do
              支払い方法
          %li
            =link_to "#" do
              メール/パスワード
          %li
            =link_to "#" do
              本人情報
          %li
            =link_to "#" do
              電話番号の確認
          %li
            =link_to "#" do
              ログアウト
        


      




    .main-contents__box__container
      .main-contents__box__container__icon
      .main-contents__box__container__tab
      .main-contents__box__container__sale-list


.app-banner

.footer

.exhibition-btn







      
      

          
