.login_footer-main
  %ul.login_footer-main__toc
    %li.login_footer-main__toc__content
      =link_to "#" do
        プライバシーポリシー
    %li.login_footer-main__toc__content
      =link_to "#" do
        フリマ利用規約
    %li.login_footer-main__toc__content
      =link_to "#" do
        特定取引に関する表記
      
  .login_footer-main__logo
    =link_to "#" do
      = image_tag "logo.png", alt: "ロゴ"
  %p
    © FURIMA           