body {
  position: relative;
  min-height: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
}

.wrapper-sale{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.upload-box{
  padding: 40px;
  &__head{
    display: flex;
    align-items: center;
    &__h3{
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4em;
    }
    &__span{
      margin-left: 8px;
      font-size: 12px;
      padding: 0 4px;
      background-color: #ff0211;
      color: #fff;
      border-radius: 2px;
      display: inline-block;
      font-style: normal;
      font-weight: 600;
      line-height: 1.4em;
    }
  }
}

.content-sale{
  &__header{
    height: 128px;
    align-items: center;
    display: flex;
    justify-content: center;
    img{
      height: 49px;
      width: 185px;
    }
  }
  &__main{
    background-color: rgb(255, 255, 255);
    width: 700px;
    margin: 0px auto;
    padding-bottom: 20px;
    &__box{
      position: relative;
      &__form{
        padding: 40px;
        p{
          color: rgb(136, 136, 136);
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
          margin-bottom: 24px;
        }
        &__inner{
          &__input{
            margin-top: 16px;
            display: block;
            height: 156px;
            &__inner{
              align-content: center;
              -webkit-box-align: center;
              align-items: center;
              background-color: whitesmoke;
              cursor: pointer;
              display: flex;
              height: 100%;
              flex-wrap: wrap;
              -webkit-box-pack: center;
              justify-content: center;
              position: relative;
              border-width: 1px;
              border-style: dashed;
              border-color: #cccccc;
              border-image: initial;
              transition: all 0.5s ease-out 0s;
              text-align: center;
            }
          }
        }
        &__inner__title{
          &__label{
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
          }
          &__span{
            margin-left: 8px;
            font-size: 12px;
            padding: 0 4px;
            background-color: #ff0211;
            color: #fff;
            border-radius: 2px;
            display: inline-block;
            font-style: normal;
            font-weight: 600;
            line-height: 1.4em;
          }
        }
        &__item__box{
          margin-top: 16px;
          align-items: center;
          display: inline-flex;
          width: 100%;
          color: #222;
          font-size: 16px;
          &__input{
            display: inline-block;
            position: relative;
            width: inherit;
            .input{
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              font-family: inherit;
              font-size: inherit;
              height: 48px;
              margin: 0;
              outline: none;
              padding: 0 16px;
              width: 100%;;
            }
          }
        }
        &__inner{
          margin: 0;
          &__intro{
            textarea{
              margin-top: 16px;
              width: 100%;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              color: #222;
              font-size: 16px;
              margin: 0;
              outline: none;
              padding: 13px 16px;
              resize: vertical;
              vertical-align: middle;
            }
            &__bottom{
              margin-top: 16px;
              text-align: right;
              color: #888;
              font-size: 12px;
              line-height: 1.4em;
            }
          }
          &__input{
            margin-top: 16px;
            display: block;
            height: 156px;
            &__inner{
              align-content: center;
              -webkit-box-align: center;
              align-items: center;
              background-color: rgb(245, 245, 245);
              cursor: pointer;
              display: flex;
              height: 100%;
              flex-wrap: wrap;
              -webkit-box-pack: center;
              justify-content: center;
              position: relative;
              border-width: 1px;
              border-style: dashed;
              border-color: rgb(204, 204, 204);
              border-image: initial;
              transition: all 0.5s ease-out 0s;
              text-align: center;
            }
          }
        }
        &__intro{
          margin-top: 30px;
          textarea{
            margin-top: 16px;
          }
        }
      }
    }
  }
}
.item-detail{
  &__inner{
    &__name{
      align-items: center;
      display: flex;
      label{
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
      }
      span{
        margin-left: 8px;
        font-size: 12px;
        padding: 0 4px;
        background-color: #ff0211;
        color: #fff;
        border-radius: 2px;
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        line-height: 1.4em;
      }
      &__down{
        margin-top: 30px;
      }
    }
    &__box{
      margin-top: 16px;
      align-items: center;
      display: inline-flex;
      width: 100%;
      &__select{
        display: inline-block;
        position: relative;
        width: inherit;
        select{
          border-color: #ff0211;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          color: #222;
          font-size: 16px;
          height: 48px;
          line-height: 1;
          margin: 0;
          outline: none;
          padding: 0 56px 0 16px;
          width: 100%;
        }
        #children_wrapper {  //浅野追記
              padding-top: 10px;
            }
        #grandchildren_wrapper { //浅野追記
          padding-top: 10px;
        }   
        i{
          bottom: 0;
          margin: auto;
          pointer-events: none;
          position: absolute;
          right: 16px;
          top: 0;
        }
      }
    }
    &__brand{
      margin-top: 16px;
      align-items: center;
      display: inline-flex;
      width: 100%;
      font-size: 16px;
      &__inner{
        display: inline-block;
        position: relative;
        width: inherit;
        select{
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: inherit;
          font-size: inherit;
          height: 48px;
          margin: 0;
          outline: none;
          padding: 0 16px;
          width: inherit;
        }
      }
    }
  }
}
.price{
  &__box{
    padding: 12px 0px;
    padding-top: 0px;
    align-items: center;
    box-sizing: content-box;
    display: flex;
    height: 46px;
    &__name{
      margin-right: auto;
      white-space: nowrap;
      span{
        font-size: 14px;
        margin-right: 8px;
      }
      &__inner{
        align-items: center;
        display: flex;
        label{
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
        }
        span{
          margin-left: 8px;
          font-size: 12px;
          padding: 0 4px;
          background-color: #ff0211;
          color: #fff;
          border-radius: 2px;
          display: inline-block;
          font-style: normal;
          font-weight: 600;
          line-height: 1.4em;
        }
      }
    }
    &__input{
      align-items: center;
      display: inline-flex;
      &__inner{
        display: inline-block;
        position: relative;
        width: inherit;
        input{
          text-align: right;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: inherit;
          font-size: inherit;
          height: 48px;
          margin: 0;
          outline: none;
          padding: 0 16px;
          width: 285px;;
        }
      }
    }
    &__fee{
      padding: 12px 0px;
      -webkit-box-align: center;
      align-items: center;
      box-sizing: content-box;
      display: flex;
      height: 46px;
      &__inner{
        margin-right: auto;
        white-space: nowrap;
        span{
          font-size: 14px;
        }
      }
    }
    &__revenue{
      margin-right: auto;
      white-space: nowrap;
    }
  }
}
.btn{
  width: 360px;
  margin: 0px auto 32px;
  button{
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    border-radius: 4px;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition-property: background-color,border-color,color;
    vertical-align: middle;
    white-space: nowrap;
    word-break: break-word;
    cursor: pointer;
  }
  button:hover{
    -webkit-filter: brightness(0.8);
    -moz-filter: brightness(0.8);
    -o-filter: brightness(0.8);
    -ms-filter: brightness(0.8);
    filter: brightness(0.8);
  }
  &__listing{
    background-color: #ea352d;
    color: #fff;
    width: 100%;
    font-size: 17px;
    min-height: 48px;
    padding: 0 24px;
  }
  &__draft{
    margin-top: 24px;
    background-color: #ccc;
    border-color: transparent;
    color: #222;
    width: 100%;
    font-size: 17px;
    min-height: 48px;
    padding: 0 24px;
  }
  a{
    margin-top: 24px;
    color: #0095ee;
    display: flex;
    width: 100%;
    height: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    word-break: keep-all;
  }
}
.warning{
  margin: 0px 40px 64px;
  font-size: 12px;
  p{
    display: inline;
    line-height: 1.4em;
  }
  a{
    color: #0095ee;
    word-break: keep-all;
  }
}
.content-sale__footer{
  padding: 40px 0px 41px;
  margin-top: auto;
  text-align: center;
  img{
    
    margin-bottom: 8px;
    width: 200px;
    vertical-align: middle;
  }
  &__top{
    ul{
      display: inline-block;
      margin: -16px 0px 40px -16px;
    }
    li{
      display: inline-block;
      margin: 16px 0px 0px 16px;
    }
  }
  a{
    font-size: 12px;
    color: inherit;
  }
  p{
    font-size: 12px;
  }
}
.optional{
  margin-top: 30px !important;
  background-color: #bfbfbf !important; 
}
.require{
  margin-top: 30px !important;
}
.question{
  margin-left: 4px;
  color: #00CCFF;
}



// エラーメッセージのCSS
.error_explanation {
  padding: 40px;
  padding-bottom: 80px;
  &__inner{
    text-align: center;
    border: 3px solid red;
    padding-bottom: 20px;
    &__h2{
      color: red;
    padding-top: 20px;
    }
  }
}

//image投稿欄のCSS
.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;
}

  //プレビュー表示欄のCSS
  
.preview-box {
  height: 162px;
  width: 112px;
  margin: 0 10px 10px 0;
  .upper-box {
    height: 112px;
    width: 100%;
    img{
      width: 112px;
      height: 112px;
    }
  }
  .lower-box {
    display: flex;
    text-align: center;
    .delete-box {
      color: #00b0ff;
      width: 100%;
      height: 50px;
      line-height: 50px;
      border: 1px solid #eee;
      background: #f5f5f5;
      cursor: pointer;
    }
  }
}
  

  //投稿クリックエリアのCSS
.label-content{
margin-bottom: 10px;
width: 620px;
  &__icon{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 8px;
    cursor: pointer;
  }
}
.label-box {
  display: block;
  border: 1px dashed #ccc;
  position: relative;
  background: #f5f5f5;
  width: 100%;
  height: 162px;
  cursor: pointer;
  text-align: center;
  &__text-visible {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}


//file_fieldのcss
.hidden-content {
  .hidden-field {
    display: none;
  }
  .hidden-checkbox {
    display: none;
  }
}

