topcss

*{
  box-sizing: border-box;

}


.body{
  display:block;
}
a{
  text-decoration: none;
  color:black;
}

.header{
  padding: 0 60px;
  &__contents{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;

    &__content{
      position: relative;
      display: flex;
      align-items: center;

    &__box a{
      width: 140px;
      display: block;
    }

    &__box img{
      width: 100%;
      vertical-align: bottom;
    }

    &__search-box{
      margin-left: 30px;
      width: 100%;
      display: flex;

      form{
        width: 100%;
        margin-bottom: 5px;
        display: flex;
      }

      button{
        width:36px ;
        border:0;
        padding:8px;
        background-color: #3CCACE;
        cursor: pointer;
      }

      &__input{
        width: calc(100% - 26px);
        height: 36px;
        padding: 0 0 0 5px;

      }
      &__icon img{
        width: 100%;
        vertical-align: bottom;      
     }
    }
  }
  &__nav-list{
    font-size: 14px;
    display: flex;
    padding-bottom: 50px;
    margin-top:15px;
    

    &__left{
      position: relative;
      display: flex; 
     
    
}

    &__left ul{
      position: relative;
      display: flex;
    }
   
     &__right{
      margin-left: auto;
      display: flex;
     }
     
     &__right ul{
      margin-left: auto;
      display: flex;
    }
     }
    }

}
.main{

  &__contents{
    width: 100%;
    height: 560px;
    background-image: image-url('bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;

    &__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 150px 0 0 0;
      line-height: 50px;

      &__title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 58px;
        line-height: 1.2;
        color: #fff;

        &__btn{
          display: flex;
          margin: 24px 0 0 0;
        
        a{
          margin-right: 10px;
        }
        img{
          width: 150px;
        }
      }
      }
       &__text{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
       }
      }
      
      }

    }
    .main__descriptions{
      padding: 60px 20px;

      &__line{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom:18px;
      }

      &__title{
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
        text-align: center;
        
      }
        &__lists{
          text-align: center;
          display: flex;
          max-width: 1020px;
          width: 100%;
          margin: 0 auto;
        
        &__list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
        
          &__pick{
            position: relative;
            margin-bottom: 20px;
          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
            img{
              width: 100%;
              vertical-align: bottom;
            }
          }
          &__text{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;

            span{
              color: #3CCACE;
            }

           
          }
          &__sentence{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
      }
          
      }
          
      }

      .main__contentsdl{
        background-image: image-url('bg-topMiddleDl-pict.jpg');
        background-position: bottom right;
        height: 400px;
        background-size: cover;
        display: flex;
        align-items: center;
        &__title{
          color: #fff;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          text-align: left;
          max-width: 1040px;
          width: 100%;
          margin: 0 auto;
          font-size:30px;
        }
          &__text{
            font-size: 27px;
            font-weight: bold;
            line-height: 1.4;
           
          }
         &__description{
           font-size: 18px;
            margin: 20px 0 30px;
           line-height: 1.5;
         }
         &__btn{
          display: flex;
          margin: 24px 0 0 0;
        
        a{
          margin-right: 10px;
        }
        img{
          width: 150px;
        }
         
          }
      }
      .main__feature{
        padding: 60px 100px;
        background-color: #fff;
       
        
       

        &__header{
          font-size: 27px;
          text-align: center;
          margin: 0 0 40px;
          font-weight: bold;
          margin-bottom: 25px;
          padding-bottom: 15px;
          position: relative; 
        }
        &__header::after{
            content: "";
            width: 70px;
            height: 4px;
            background-color: #3CCACE;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom:5px;
          }
          
        
        &__items{
          max-width: calc(1040px + 20px);
          width: 100%;
          margin: auto 0;
          display: flex;
          flex-wrap: wrap;
          padding-left:100px;

          &__item{
            display: flex;
            flex-direction: column;
            width: calc(1 / 3 * 100%);
            text-align: center;
            padding: 0 20px;
                  
          &__photo{
            width: 70%;
            margin: 0 auto;
            line-height: 120px;
          }
          
          img{
            width: 100%;
            vertical-align: bottom;
          }
          
          &__title{
            margin: 38px 0 10px;
            font-size: 19px;
            font-weight: bold;
          }
          &__description{
            margin: 0 0 40px;
            font-size: 17px;
            font-weight: 200;
           text-align: left;
          }
          }
          }
        }
      
        .main__picture{
          padding: 80px 0 0;
          background-color: #f8f8f8;
          height: 100%;

          

          

          &__header{
            text-align: center;
            font-size: 28px;
            line-height: 1.4;
            font-weight: bold 
          }

          &__box{
           padding:1px;
           
          &__head{
            text-align: center;
            a{
              font-size: 24px;
              text-decoration: none;
              color: #3CCACE;
              h3{
              font-weight: bold;
              }
            }
          }
          &__lists{
            width: 1000px;
            margin: 26px auto;
            display: flex;
            justify-content: space-around;
            // padding-bottom:80px;
          
            &__list{
              // width: 220px;
              display: inline-block;
              // float: left;

              a{
               
                display: inline-block;
                padding:10px;
              }
            
              &__description--image{
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;
                padding-left:20px;
                
                img{
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                   object-fit: cover;
                }
                   

                   }
                   

              
                &__productList--body{
                
                  color: #333;
                  padding-top: 16px;
                  background-color: white;
              }
            
              &__productList--body{
                
                color: #333;
                padding-top: 16px;
                background-color: white;
              }  

                h3{
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }
              
              &__productList--details{
                font-size: 16px;
                background-color: white;
                

                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  

                  i{
                    padding-left:120px;
                    font-size: 13px;
                  }
                }
                  P{
                    font-size: 10px;
                    text-align: left;  
                    padding-bottom:15px;
                  }
                }
              }
          }
        }     
      }  
        
          .item__box__picture__sold{
            width: 0;
            height: 0;
            border-width: 120px 120px 0 0;
            border-color: #ea352d transparent; 
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            border-style: solid;
            &__inner{
              top: -110px;
              font-size: 25px;
              position: absolute;
              left: 3px;
              z-index: 2;
              color: #fff;
              transform: rotate(-45deg);
              letter-spacing: 2px;
              font-weight: 600;
            }
          }
    
    .banner{
      background-image: image-url('bg-appBanner-pict.jpg');
      padding: 100px 40px;
      position: relative;
      background-size: cover;
      background-position: center;
      // margin-top: 50px;
      // padding-top: 10px;

      &__inner{
        color: #fff;
        text-align: center;

        h2{
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 24px;
          font-weight: bold;
          line-height: 1.4;
        }
        P{
          font-size: 35px;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
        }

        &__icon{
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 20px auto 0;

          a{
          margin-right: 10px;
          }
          img{
            width: 150px;
          }
        }
      }

    }
          
.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;

  &__containers{
    max-width: 840px;
    margin: 0 auto;
    display: flex;

    &__container{
    display: flex;
    flex-direction: column;
    width: calc(1 / 3 * 100%);
    margin: 0 2% 0 0;

    &__head{
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: bold;
    
    }

    a{
      color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
    }
    }
  

  
  }

&__logo{
  max-width: 160px;
  width: 100%;
  margin: 0 auto;   

img{
  width: 100%;
    vertical-align: bottom;
}    
P{
font-size: 13px;
}
    
}
}
.purchaseBtn{
  width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    height: 120px;

    &__text{
      color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
    }
    img{
      width: 60%;
    }
}


  